body 
{
    background-image:url('/img/bg-pattern.png')
}

.wrapper
{
    width: 500px;
    margin: auto auto
}

.head_logo {
    padding:15px 0px 15px 45px;
    margin:30px auto 30px auto;
    font-family: 微软雅黑, 黑体;
    font-size: 35px;
    letter-spacing: 24px;
    color: steelblue;
    text-align: center;
    border: 4px dashed;
    -ms-border-radius: 90px;
    border-radius: 90px;
    border-color: aqua;

    background-color: wheat;
}

.main_box2395
{
    width:70%;
    margin: 0px auto 0px auto;
    padding:18px;
    background-color: silver;
    border: 2px solid;
    border-radius: 20px;
    border-color: white;
    text-align:center;
}

.main_box2395_head a
{
    float:right;
    list-style-type: none;
}

.clearfix
{
    clear:both;
}

.main_box2395 input
{
    width:90%;
    height:2em;
    margin:10px 0;
    background-color:Gray;
}

.bt
{
    margin :15px auto 0 auto;
    padding-left: 30px;
    width: 40%;
    height: 30px;
    border:2px dodgerblue;
    border-radius: 40px;
    background-color: royalblue;
    font-family: 黑体;
    color: snow;
    letter-spacing: 27px;
    font-size: 20px
}

.line
{
    background-color:white;
    width:100%;
    height:1px;
    margin: 6px auto;

}

